
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Dosis', sans-serif, Helvetica, Arial;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    font-family: 'Gotu',sans-serif;
    
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(img/Abuelos.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background: black;

    
}
.container p{
    line-height: 30px;
    font-weight: lighter;
    color: white;
}
#first-part{
    padding: 40px;
    
}

    

.gallery {
    
    height: 100%;
    width: 100%;
    background: rgb(12, 12, 12);
   
    
}

.image-box{
    
    height: 320px;
    width: 420px;
    background: rgba(255, 79, 79, 0.822);
    margin: 30px;
    
}


.gallery img{
    height: 300px;
    width: 400px;
    padding: 10px;
}
.gallery h1 {
    text-align: center;
    font-family: 'Dosis', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    font-style: italic;
    position: relative;
    top: 18px;
    
}
footer {
    z-index: 2;
    
    position: relative;
    height: 200px;
    bottom:0;
    background: coral;
    
    padding: 5px;
    color: white;
    font-size: 20px;
}
 .column1{
     margin: 0px;
     text-align: left;
 }

.copyright {
    position: relative;
    bottom: 0px;
    z-index: 3;
    width: 100%;
    box-shadow: 0px -20px 0px 6px black;
    height: 40px;
    background:black;
    color:white;
    text-align: center;
    vertical-align: middle;
    
    
    }
.footer-content{
    display: flex;
    margin: auto;
}
.contenedor-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column2{
    z-index: 3;
    margin-left: 60px;
    color: white;
}
.column1 h1{
    font-size: 30px;
    
}
.column1 {
    font-size: 20px;
    max-width: 500px;
}
.column1 p{
    font-size: 17px;
}
.column2 {
    font-size: 20px;
}

nav{
    position: absolute;
    z-index: 1;
}

nav ul li{
    float: left;
    margin: 12px;
    padding: 0;
    color: white;
    
    list-style: none;


}
nav a{
    color: white;
    text-decoration: none;
    
    opacity: 0.6;
}
nav a:hover{
    color:whitesmoke;
    opacity: 1;
}
svg{
    display: inline-block;
    max-height: 50px;
    stroke:rgb(255, 255, 255);
    stroke-width: 1px;
    fill: none;
    margin:10px;

}




