
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Oswald', sans-serif, Helvetica, Arial;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    font-family: 'Oswald',sans-serif;
    
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    
    
}

header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 1px;
}
header em{
    position: absolute;
    transform: translate(-50%, -50%);
    top:110%;
    right: -17.6%;
    font-size: 30px;
    font-weight: bold;
    color: crimson;
    text-align: left ;
    letter-spacing: 3px;
}

header,
header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(img/Abuelos.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.container {
    z-index: 2;
    font-family:'Gotu', sans-serif;
    position: absolute;
    top: 100vh;
    background: black;
    
    
}

#first-part {
    padding: 40px;
    font-size: 17px;   
    font-weight: 1px; 
    color: white;
    text-align: justify;
}
#first-part p::first-letter{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

#regreso{
    z-index: 4;
    display: block;
    position: fixed;
    bottom: 8px;
    right: 10px;
    height: 40px;
    width: 40px;
    background-color: rgba(253, 81, 81, 0.849);
    border:none;
    border-radius: 50% 50% ;
    font-size: 25px;
    text-align: center;
    color: rgba(48, 47, 47, 0.89);
}
#regreso:hover{
   background:rgba(252, 35, 46, 0.685);
}
 

.gallery {
    
    height: 100%;
    width: 100%;
    background: rgb(12, 12, 12);
   
    
}

.image-box{
    
    height: 320px;
    width: 420px;
    background: rgba(252, 61, 61, 0.822);
    margin: 30px;
    
}


.gallery img{
    height: 300px;
    width: 400px;
    padding: 10px;
}
.gallery h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    position: relative;
    top: 18px;   
}



footer {
    z-index: 2;
    height: 350px;    
    background: whitesmoke; 
    font-family: 'Gotu', sans-serif;
    color: black;
    padding: 40px;
}
footer h1{
    font-family: 'Oswald',sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase ;
    letter-spacing: 5px;
    text-align: center;
    margin-top:0px;
}
 
.copyright {
    position: relative;
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 30px;
    background:black;
    color:rgb(78, 78, 78);
    text-align: center;
    padding: 10px;
    
    
    }
.footer-content{
    display: flex;
    
}

.contenedor-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.column2{
    margin-left: 60px;
    margin-top: 10px;
    color: black;

}
.column2  a{
    
    text-decoration: none;
    color: black;
}
svg:hover{
    display: inline-block;
    max-height: 25px;
    fill:crimson;

}
#instagram{
    display:flex;
    align-items: center;
    font-size: 15px;
    height: 40px;
}
#facebook{
    margin-top: 5px;
    display:flex;
    align-items: center;
    font-size: 15px;
    height: 40px;
}
.column2 h1{
    font-size: 30px;
    margin:0px;
    font-family: 'crisis';
}
.column1 {
    max-width: 400px;
    margin: 10px;
    color: black;
}
.column1 p::first-letter{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.column1 p{
    font-size: 17px;
}

nav{
    position: absolute;
    z-index: 1;
    
}

nav ul li{
    float: left;
    margin: 20px;
    padding: 0;
    color: white;
    
    list-style: none;


}
nav a{
    color: white;
    text-decoration: none;
    opacity: 0.6;
}
nav a:hover{
    color:crimson;
    letter-spacing: 2px;    
    font-weight: bold;
    opacity: 1;
}
svg{
    display: inline-block;
    max-height: 20px;
      
    fill: rgba(17, 17, 17, 0.911);
}


body::-webkit-scrollbar {
    width: 3px;     /* Tamaño del scroll en vertical */
    height: 3px;    /* Tamaño del scroll en horizontal */
      /* Ocultar scroll
     */
    
    background: rgba(17, 17, 17, 0.911);
    
}

body::-webkit-scrollbar-thumb {
    background:  rgba(253, 81, 81, 0.849);
    border-radius: 4px;
    
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background:rgba(252, 35, 46, 0.685);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color:rgba (255, 255, 255, 0);
}

body::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: rgb(24, 24, 24);;
}